<label>Username: </label>
<input
  class="form-control"
  type="text"
  [(ngModel)]="username">
<p>Username value is: {{username}}</p>
<button
  class="btn btn-primary"
  [disabled]="!isEmptyUsername()"
  (click)="onClearClick()">Clear</button>
