<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Assignment 2: Databinding</h3>
      <ol>
        <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
        <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string</li>
        <li>Upon clicking the button, the username should be reset to an empty string</li>
      </ol>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-databinding></app-databinding>
    </div>
  </div>
</div>
